aiofiles
aiohttp==3.9.3
alphabet_detector
apscheduler
asyncio
bard
bing_image_downloader 
beautifulsoup4
bs4
cloudscraper
deepai
dnspython
emojis
ffmpeg-python
Faker
future==1.0.0
git+https://github.com/AsmSafone/SafoneAPI
gitpython
gpytranslate
googlesearch-python
gtts
hachoir
heroku3
html2text==2024.2.26
httpx==0.27.0
img2pdf
instaloader
lexica-api
lyricsgenius
motor==3.1.2
MukeshAPI
numpy<2.0.0
ntgcalls==1.1.2
openai==0.28.0
opencv-python
pillow==9.5.0
psutil==5.9.5
pickledb
pornhub-api==0.3.0
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
pyrogram==2.0.106
git+https://github.com/KurimuzonAkuma/pyrogram.git
python-dotenv==1.1.0
python-telegram-bot==21.1.1
python-whois
pyrate-limiter==2.10.0
pyshorteners
pyttsx3
pytz
pytube
py-tgcalls==0.9.7
pyyaml==6.0
python-telegram-bot
qrcode
requests
SafoneAPI
search_engine_parser
speedtest-cli==2.1.3
SpeechRecognition
spotipy
sqlalchemy==1.4.46
telegraph==2.2.0
telethon==1.36.0
tgcrypto==1.2.5
unidecode
wget
yt-dlp==2023.3.4
youtube-search
youtube-search-python
flask
ytmusicapi==0.23.0
pytgcalls==3.0.0.dev24
cryptg==0.4.0
